{% extends "_layouts/error.html" %}

{% block title %} Error 500 {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Internal Server Error.</p>
            <p class="lead">
                The server encountered an error.
              </p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}