    <footer class="py-2 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    WEB-NMAP - Open-source on <a target="_blank" href="https://github.com/xenetis/web-nmap">Github</a>
                </div>
                <div>
                    From <a target="_blank" href="https://github.com/xenetis">Xenetis</a>
                </div>
            </div>
        </div>
    </footer>