{% extends "_layouts/default.html" %}

{% block title %} Scans {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        <div class="modal fade" id="addScanModal" tabindex="-1" role="dialog" aria-labelledby="Add a Scan" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="{{ url_for('home_blueprint.scans') }}" method="POST">
                        <input type="hidden" name="action" value="add">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addScanModalTitle">Add scan</h5>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="custom-control-label" for="target">Target</label>
                                <select class="form-select" id="target" name="target" aria-label="Default select example">
                                    {%- for target in targets %}
                                        <option value="{{ target.id }}">{{ target.host }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="custom-control-label" for="command">Command</label>
                                <select class="form-select" id="command" name="command" aria-label="Default select example">
                                    {%- for command in commands %}
                                        <option value="{{ command.id }}">{{ command.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid px-4">
            <h1 class="mt-4"><i class="fas fa-project-diagram me-1"></i> Scans</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ url_for('home_blueprint.index') }}">Home</a></li>
                <li class="breadcrumb-item active">Scans</li>
            </ol>
        </div>


        <div class="card mb-4">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col-4">
                    </div>
                    <div class="col-4 text-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addScanModal">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Target</th>
                            <th>Date created</th>
                            <th>Date updated</th>
                            <th>Status</th>
                            <th>Command</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Target</th>
                            <th>Date created</th>
                            <th>Date updated</th>
                            <th>Status</th>
                            <th>Command</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {%- for scan in scans %}
                            <tr>
                                <td>{{ scan.id }}</td>
                                <td>
                                    {%- for target in targets %}
                                        {% if scan.target == target.id %}
                                            {% if scan.status == "completed" %}
                                                <a href="{{ url_for('home_blueprint.scan_result', scan_id=scan.id) }}">{{ target.host }}</a>
                                            {% else %}
                                                {{ target.host }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ scan.date_create }}</td>
                                <td>{{ scan.date_update }}</td>
                                <td>{{ scan.status }}</td>
                                <td>
                                    {%- for command in commands %}
                                        {% if scan.command == command.id %}
                                            {{ command.description }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <form action="{{ url_for('home_blueprint.scans') }}" method="POST" class="inline-flex">
                                        <input type="hidden" name="action" value="delete">
                                        <input type="hidden" name="id" value="{{ scan.id }}">
                                        <button type="button" class="btn btn-danger delete-btn" name="scan"><i class="fas fa-trash"></i></button>
                                        {% if scan.status == "completed" %}
                                            <a href="{{ url_for('home_blueprint.scan_result', scan_id=scan.id) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                                        {% endif %}
                                    </form>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </main>

{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
{% endblock javascripts %}
